<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>nodetpl.config - NodeTpl - 高效javascript模板引擎</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<!--[if lt IE 9]><script type="text/javascript" src="http://www.nodetpl.com/static/js/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/vdialog.css">
<link rel="stylesheet" href="/static/css/highlight/prism.css">
<script type="text/javascript" src="/static/js/highlight/prism.js"></script>
<script type="text/javascript" src="/static/js/require.js"></script>
<script type="text/javascript" src="/static/js/require-config.js"></script>
</head>
<body id="map">
<header>
  <div class="wrap">
    <div class="logo">
      <a href="/"><i class="iconfont">&#xe605;</i>NodeTpl</a>
      <span>一款强大、高效、易用、有趣儿的 JavaScript 模板引擎</span>
    </div>
    <nav>
      <ul class="clearfix">
        <li><a href="./">首页</a></li>
        <li><a href="./start.html">开始</a></li>
        <li><a href="./grammar.html">语法</a></li>
        <li><a href="./api.html">API</a></li>
        <li class="active"><a href="./map.html">转换器</a></li>
        <li><a href="./compile.html">预编译</a></li>
        <li><a href="./module.html">模块化</a></li>
        <li><a href="./multi.html">多模板</a></li>
        <li><a href="./node.html">Node</a></li>
        <li><a href="./faq.html">常见问题</a></li>
        <li><a href="./changes.html">升级日志</a></li>
      </ul>
    </nav>
  </div>
  <div class="language"><a href="../en/">English</a> | <a href="../cn/">简体中文</a></div>
</header>
<div class="fixed-tools">
  <div class="wrap"><a href="./demo/demo_0.html" target="_blank"><i class="iconfont">&#xe605;</i></a></div>
</div>
<section class="wrap">
  <h2>转换器的概念</h2>
  <p><code>nodetpl</code> 允许自定义任意模板语法，通过传入的 <code>map()</code> 方法来对这些语法进行解释，这里的 <code>map()</code> 方法，我们称之为“转换器”。</p>
  <p>通过配置合适的转换器，理论上讲，<code>nodetpl</code> 可以解析任何格式的模板。</p>
  <p>接下来会简单介绍转换器的基本书写方法，并不针对提及的模板引擎，作者仍然认为这些模板引擎都很优秀，<code>nodetpl</code> 无意也无法完全取代这些引擎，向无私开源的作者们致敬。</p>
  <h2>juicer 转换器</h2>
  <p>下面是一段 <code>juicer</code> 模板代码：</p>
  <pre><code class="language-html">&lt;ul&gt;
  {@each list as it,index}
    &lt;li&gt;${it.name} (index: ${index})&lt;/li&gt;
  {@/each}
  {@each blah as it}
    &lt;li&gt;
      num: ${it.num} &lt;br /&gt;
      {@if it.num==3}
        {@each it.inner as it2}
          ${it2.time} &lt;br /&gt;
        {@/each}
      {@else if it.num==4}
        ${it.num}
      {@/if}
    &lt;/li&gt;
  {@/each}
&lt;/ul&gt;</code></pre>
  <p>通过下面的转换器，可以让 <code>nodetpl</code> 直接编译该模板：</p>
  <pre><code class="language-javascript:;">nodetpl.config({
  strict: false,
  openTag: '{',
  closeTag: '}',
  map: function(str) {
    // {@each} ... {@/each}
    str = str.replace(/@each ([^ ]+) as ([^ ,]+)([, ]?)([^ ]+)?/g, function(all, arr, value, dot, index) {
      return arr + '.forEach(function(' + value + (dot || '') + (index || '') + ') {';
    }).replace(/@\/each/g, '});');
    // {@if} ... {@else if} ... {@else} ... {@/if}
    str = str.replace(/@if (.*)/g, 'if($1){').replace(/@else if (.*)/g, '} else if($1){').replace(/@\/if/g, '}');
    // {#
    str = str.replace(/#.*/g, '');
    return str;
  },
  beforeCompile: function(html) {
    // ${...} => {=...}
    // $${...} => {==...}
    return html.replace(/\${2}\{/g, '{==').replace(/\$\{/g, '{=');
  }
});
nodetpl.render(content, data, function(d) {
  console.log(d);
});</code></pre>
  <p><a href="javascript:;" class="btn btn-try" id="btn-map-juicer">试一试</a><a href="./demo/demo_map_juicer.html" class="btn" target="_blank">查看DEMO</a></p>
  <h2>artTemplate 转换器</h2>
  <p>下面是一段 <code>artTemplate</code> 模板代码：</p>
  <pre><code class="language-html">{{if admin}}
  &lt;p&gt;admin&lt;/p&gt;
{{else if code &gt; 0}}
  &lt;p&gt;master&lt;/p&gt;
{{else}}
  &lt;p&gt;error!&lt;/p&gt;
{{/if}}
&lt;ul&gt;
  {{each list as value index}}
    &lt;li&gt;{{index}} - {{value.user}}&lt;/li&gt;
  {{/each}}
  {{each list}}
    &lt;li&gt;{{$index}} - {{$value.user}}&lt;/li&gt;
  {{/each}}
&lt;/ul&gt;</code></pre>
  <p>通过下面的转换器，可以让 <code>nodetpl</code> 直接编译该模板：</p>
  <pre><code class="language-javascript:;">nodetpl.config({
  strict: false,
  openTag: '{{',
  closeTag: '}}',
  map: function(str) {
    // if
    str = str.replace(/ *else if +(.*)/g, '} else if($1) {').replace(/ *if +(.*)/g, 'if($1) {').replace(/ *else *$/g, '} else {').replace(/ *\/if/g, '}');
    // each list as value index
    str = str.replace(/ *each ([^ ]+) as ([^ ]+) *([^ ]+)?/g, function(all, arr, value, index) {
      return arr + '.forEach(function(' + value + (index ? ',' : '') + (index || '') + ') {';
    }).replace(/ *each ([^ ]+)/g, function(all, arr) {
      return arr + '.forEach(function($value, $index) {';
    }).replace(/\/each/g, '});');
    // value
    str = str.replace(/^([^\s{}]+)$/g, '=$1');
    return str;
  }
});
nodetpl.render(content, data, function(d) {
  console.log(d);
});</code></pre>
  <p><a href="javascript:;" class="btn btn-try" id="btn-map-artTemplate">试一试</a><a href="./demo/demo_map_artTemplate.html" class="btn" target="_blank">查看DEMO</a></p>
  <h2>其它模板语言</h2>
  <p>其它模板语言的处理方式与上面基本类似，包括 <code>PHP</code>、<code>JSP</code> 代码也一样，这里不再列出，感兴趣的同学可以自己试一下。</p>
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="index" data-url="http://www.nodetpl.com/cn/"></div>
  <!-- 多说评论框 end -->
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"nodetpl"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
  <!-- 多说公共JS代码 end -->
</section>
<footer>
  <div class="wrap">
    <p>&copy; 2012 - 2016 nodetpl.com by <a href="javascript:;">pillys</a></p>
    <div class="donate">
      <img src="/static/images/donate.png" />
      打赏作者一杯咖啡
    </div>
  </div>
</footer>
<script>require(['view/cn/api-map']);</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?55310397b78e4d3793e8b32711e7c487";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>