@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: #f9f9f9 !important;
}
body {
  color: #333;
  font-size: 14px;
}
a, a:hover {
  color: #4078c0;
}
.wrap, .clearfix {
  *zoom: 1;
}
.wrap:after, .clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  margin-bottom: 20px;
  background-color: #000;
}
header .logo {
  float: left;
  opacity: .8;
}
header.en .logo {
  float: none;
  text-align: center;
}
header .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
header .logo a i.iconfont {
  position: relative;
  top: -3px;
  font-size: 1.8em;
  margin-right: .2em;
  vertical-align: middle;
}
header .logo span {
  margin-left: 1em;
  font-size: 12px;
  color: rgba(255, 255, 255, .3);
}
header.en .logo span {
  display: block;
}
header nav {
  float: left;
  margin-left: 30px;
}
header.en nav {
  float: none;
  margin-left: 0;
  margin-top: 5px;
  padding-left: 130px;
  border-top: 1px solid #333;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul li {
  float: left;
  position: relative;
  line-height: 42px;
}
header nav ul li a {
  display: block;
  padding: 0 10px;
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
}
header nav ul li a:hover, header nav ul li.active a {
  color: rgba(255, 255, 255, 1);
}
header nav ul li.active:after {
  position: absolute;
  content: '';
  left: 50%;
  margin-left: -4px;
  border: 4px solid transparent;
  bottom: -8px;
  border-top-color: #000;
}
section {
  line-height: 150%;
}
section h2 {
  font-size: 18px;
}
footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 1em 0;
  text-align: right;
}
a.btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  font-size: 14px;
  line-height: 26px;
  border-radius: 3px;
  padding: 0 1em;
  color: #333;
  padding-top: 2px;
  text-decoration: none;
  border: 1px solid #ccc;
}
.fixed-tools {
  position: fixed;
  width: 100%;
  left: 0;
  top: 100px;
  text-align: right;
}
.fixed-tools .wrap {
  height: 0;
}
.fixed-tools a {
  color: #999;
  text-decoration: none;
}
.fixed-tools i.iconfont {
  font-size: 2em;
  margin-right: -1em;
}
#index-cover {
  background-color: #eee;
}
#index-cover .main {
  text-align: center;
}
#index-cover .main .header {
  color: #fff;
  background-color: #333;
  overflow: hidden;
}
#index-cover .main .header h1 {
  margin-bottom: 50px;
  font-size: 40px;
}
#index-cover .main .header h1 .iconfont {
  font-size: 1.5em;
  margin-right: .2em;
}
#index-cover .main .header h2 {
  opacity: .5;
}
#index-cover .main .nav {
  margin-top: 50px;
  line-height: 40px;
}
#index-cover .main .nav a {
  display: inline-block;
  padding: 0 1.5em;
  background-color: #3370ed;
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
  border-radius: 3px;
}
#index-cover footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#index-cover footer, #index-cover footer a {
  color: #999;
}
#index section h2:before {
  position: relative;
  top: -2px;
  content: '';
  display: inline-block;
  width: 4px;
  background-color: #666;
  height: .8em;
  vertical-align: middle;
  margin-right: .5em;
}
#index section.version-view a {
  display: block;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
}
#index section.quick-look table {
  width: 100%;
}
#index section.quick-look table thead tr th {
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  line-height: 40px;
}
#index section.quick-look table thead tr th i.iconfont {
  margin-right: .5em;
  font-size: 20px;
}
#index section.quick-look table tbody tr td {
  vertical-align: top;
  padding: 1em;
}
#index section.quick-look table tbody tr td pre {
  color: #999;
  line-height: 1.5em;
}
#index section.quick-look table tbody tr td pre:hover {
  color: #333;
}
#index section.quick-look table tbody tr td i.iconfont {
  font-size: 40px;
  color: #999;
}
#index section.introduction {
  padding: 1px 0;
  background-color: #f9f9f9;
}
#index section.introduction .wrap {
  position: relative;
  text-shadow: 1px 1px 0 #fff;
}
#index section.introduction ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#index section.introduction ul li {
  float: left;
  width: 33%;
  color: #666;
}
#index section.introduction ul li dl {
  padding: 1em;
}
#index section.introduction ul li dl dt {
  font-size: 20px;
  white-space: nowrap;
}
#index section.introduction ul li dl dt i.iconfont {
  position: relative;
  font-size: 40px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
  top: -5px;
}
#index section.introduction ul li dl dd {
  margin-left: 50px;
  height: 3em;
}
#index section.introduction .share-box {
  position: absolute;
  top: 1em;
  right: 0;
}
#start section ul.key-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#start section ul.key-list li {
  float: left;
  width: 10em;
  line-height: 2em;
}
#changes section ul li {
  margin-top: .5em;
}
#changes section time {
  color: #999;
  margin-left: 1em;
}
#changes section .high-level {
  color: #f00;
  margin-left: .5em;
}