.vdialog {
  position: absolute;
  font-size: 14px;
  min-width: 200px;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: vDialogZoomIn;
  animation-name: vDialogZoomIn;
}
@-webkit-keyframes vDialogZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes vDialogZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.vdialog .vd-header {
  position: relative;
}
.vdialog .vd-header-no-title {
  height: 1em;
}
.vdialog .vd-header .vd-title {
  padding: .8em 2em .8em 1em;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vdialog .vd-header a.vd-close {
  position: absolute;
  right: .5em;
  top: 50%;
  padding: 0 .2em;
  margin-top: -.6em;
  font-size: 1.2em;
  color: #000;
  line-height: 1.1em;
  text-decoration: none;
  opacity: .3;
}
.vdialog .vd-header a.vd-close:hover {
  opacity: 1;
}
.vdialog .vd-header-no-title a.vd-close {
  top: 1em;
  right: .5em;
}
.vdialog .vd-content {
  padding: 1em;
}
.vdialog .vd-footer {
  padding: 1em;
  text-align: right;
}
.vdialog .vd-footer a.vd-btn {
  display: inline-block;
  color: #fff;
  padding: .2em .8em;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #429cf9;
}
.vdialog .vd-footer a.vd-btn-ok {
  margin-left: .8em;
  border-color: #3488f7;
  background-color: #429cf9;
}
.vdialog .vd-footer a.vd-btn-cancel {
  color: #333;
  border-color: #c8c8c8;
  background-color: #fff;
}
.vdialog-modal {
  width: 100%;
  left: 0;
  height: 0;
  position: absolute;
  opacity: .6;
  background-color: #000;
}