/* vDialog 图标字体 */
@font-face {
  font-family: 'vdfont';
  src: url('../fonts/vdfont.eot'); /* IE9*/
  src: url('../fonts/vdfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/vdfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/vdfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/vdfont.svg#vdfont') format('svg'); /* iOS 4.1- */
}

/* vDialog 主样式 */
.vdialog {
  position: absolute;
  font-size: 14px;
  line-height: 1.5em;
  border-radius: 3px;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: vDialogZoomIn;
  animation-name: vDialogZoomIn;
}
.vdialog-fixed {
  position: fixed;
}
@-webkit-keyframes vDialogZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes vDialogZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.vdialog .vd-header, .vdialog .vd-footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.vdialog .vd-header {
  position: relative;
  z-index: 1;
}
.vdialog .vd-header .vd-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.vdialog .vd-header a.vd-close {
  position: absolute;
  text-decoration: none;
}
.vdialog-no-title .vd-header .vd-title {
  display: none;
}
.vdialog .vd-main {
  position: relative;
}
.vdialog .vd-main .vd-icon {
  display: none;
  position: absolute;
  font-family: "vdfont" !important;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.vdialog .vd-main-with-icon .vd-icon {
  display: block;
}
.vdialog .vd-footer {
  display: none;
}
.vdialog .vd-footer:before {
  content: '';
  display: block;
}
.vdialog .vd-footer a.vd-btn {
  display: inline-block;
  text-decoration: none;
}
.vdialog-modal {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* vDialog 风格控制 */
.vdialog {
  background-color: #fff;
  border: 1px solid #bcbcbc;
}
.vdialog .vd-header .vd-title {
  padding: .8em 2em .8em 1em;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vdialog .vd-header a.vd-close {
  right: .5em;
  top: 50%;
  padding: 0 .2em;
  margin-top: -.6em;
  font-size: 1.2em;
  color: #000;
  line-height: 1.1em;
  opacity: .3;
}
.vdialog .vd-header a.vd-close:hover {
  opacity: 1;
}
.vdialog-no-title .vd-header {
  height: 1em;
}
.vdialog-no-title .vd-header a.vd-close {
  top: 1em;
  right: .5em;
}
.vdialog .vd-main .vd-icon {
  left: 15px;
  top: 0;
  width: 50px;
  font-size: 38px;
  padding: 10px 0;
  line-height: 1em;
}
.vdialog .vd-main-with-icon {
  padding: 5px 15px 0 65px;
}
.vdialog .vd-main-with-icon .icon-vd-error:before {
  content: "\e600";
  color: #d9534f;
}
.vdialog .vd-main-with-icon .icon-vd-alert:before {
  content: "\e601";
  color: #f0ad4e;
}
.vdialog .vd-main-with-icon .icon-vd-success:before {
  content: "\e602";
  color: #5cb85c;
}
.vdialog .vd-main-with-icon .icon-vd-confirm:before {
  content: "\e603";
  color: #eea237;
}
.vdialog .vd-main .vd-content {
  padding: 1em;
  min-width: 8em;
}
.vdialog .vd-footer {
  padding: 0 1em 1em;
  text-align: right;
}
.vdialog .vd-footer:before {
  background-color: #eee;
  background-image: linear-gradient(90deg, #fff, #eee);
  height: 1px;
  margin-bottom: 15px;
}
.vdialog .vd-footer a.vd-btn {
  color: #fff;
  padding: .2em .8em;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #429cf9;
}
.vdialog .vd-footer a.vd-btn-ok {
  margin-left: .8em;
  border-color: #3488f7;
  background-color: #429cf9;
}
.vdialog .vd-footer a.vd-btn-cancel {
  color: #333;
  border-color: #c8c8c8;
  background-color: #fff;
}
.vdialog-modal {
  opacity: .6;
  background-color: #000;
}

/* IE6/7 layout fixed */
.vdialog {
  *padding-top: 3.5em;
}
.vdialog .vd-header {
  *position: absolute;
  *width: 100%;
  *left: 0;
  *top: 0;
}
.vdialog-no-title {
  *padding-top: 1em;
}
.vdialog-modal {
  *filter: alpha(opacity:60);
}